.header {
  display: flex;
  align-items: center;
  height: 10vh;
  background-color:#CC5500;
  
}

/* #head{
  padding-left: 10;
  align-items: center;
  align-content: center;
} */

h1,
h2 {
  padding: 10px;
}

article {
  background-color: #daa38b;
}

#Submit, .button:hover {
  background-color: #800020;
  color: white;
}