.header {
  display: flex;
  align-items: center;
  height: 10vh;
  width: 100vw;
  justify-content: center;
  background-color:#F1933A;
  margin-top: 10px;
  
}

h1,
h2 {
  padding: 10px;
}

article {
  background-color: #daa38b;
}

#Submit, .button:hover {
  background-color: #800020;
  color: white;
}