@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Yantramanav:wght@300;400&display=swap");

.safetytips {
  background-color: #f1933a;
  background: fill;
  padding-top: 0%;
  padding: 0 50px;
}

h2 {
  font-family: "Libre Baskerville", serif;
}

.tips {
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

#SSF {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  text-align: center;
}

#homeB,
.button {
  transition-duration: 0.4s;
  top: 0;
  left: 0;
  position: absolute;
  margin-top: 40px;
  margin-left: 20px;
  border-radius: 5px;
}

#homeB,
.button:hover {
  background-color: #800020;
  color: white;
  border-radius: 5px;
}
